<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-md-8">
      <h2><%= title %></h2>

      <% if (typeof errors != 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        <ul>
          <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
      <% } %>

      <form method="post" action="/contact?_method=PUT">
        <input type="hidden" name="_id" value="<%= contacts._id %>" />
        <input
          type="hidden"
          class="form-control"
          id="oldName"
          name="oldName"
          value="<%= (contacts.oldName) ? contacts.oldName : contacts.name %>"
          required
        />
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            value="<%= contacts.name %>"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            value="<%= contacts.email %>"
            required
          />
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone</label>
          <input
            type="number"
            class="form-control"
            id="phone"
            name="phone"
            value="<%= contacts.phone %>"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary"><%= title %></button>
      </form>
    </div>
  </div>
</div>
